ol {
	list-style-type: none;
	margin-left: 0;
}

ol li {
	counter-increment: customlistcounter;
	position: relative;
}

ol li:before {
	content: counter(customlistcounter) " ";
	position: absolute;
	left: -30px;
}

ol:first-child {
	counter-reset: customlistcounter;
}